In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver.exe")

<ipython-input-3-0af43046ad15>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\DELL\Downloads\chromedriver.exe")

## Q1

In [207]:
driver.get('https://www.naukri.com/')

In [208]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

<ipython-input-208-23539e556d88>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-208-23539e556d88>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_id('qsb-location-sugg')

In [209]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-209-8db898a03ada>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [210]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [211]:
driver.get(url)

In [212]:
job_title=[]
job_loc=[]
comp_name=[]
exp_req=[]

In [213]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

<ipython-input-213-13ceef640646>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [214]:
for i in title_tags:
    i=i.text
    job_title.append(i)
job_title=job_title[:10]

In [215]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

<ipython-input-215-1910a741bf18>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [216]:
for i in loc_tags:
    i=i.text
    job_loc.append(i)
job_loc=job_loc[:10]

In [217]:
comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

<ipython-input-217-a92997e4ec8e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [218]:
for i in comp_tags:
    i=i.text
    comp_name.append(i)
comp_name=comp_name[:10]

In [219]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

<ipython-input-219-01a7109322c7>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [220]:
for i in exp_tags:
    i=i.text
    exp_req.append(i)
exp_req=exp_req[:10]

In [221]:
jobs=pd.DataFrame({})
jobs['job_Title']=job_title
jobs['location']=job_loc
jobs['Company']=comp_name
jobs['experience']=exp_req
jobs

,job_Title,location,Company,experience
0,Business Data Analyst(BigId) - Capco - Bangalore,Bangalore/Bengaluru,Capco Technologies Pvt Ltd,3-8 Yrs
1,Data Analyst - Flipkart Analytics,Bangalore/Bengaluru(Bellandur),Flipkart,0-3 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Pioneer Business Solutions,6-11 Yrs
3,Sr Data Analyst,Bangalore/Bengaluru,Pioneer Business Solutions,3-8 Yrs
4,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
5,Opportunity For Business Data Analyst,"Bangalore/Bengaluru, Mumbai (All Areas)",Botree Software International Private Limited,3-6 Yrs
6,Urgent Openings For Data Analyst / Business An...,Bangalore/Bengaluru,Flipkart,1-6 Yrs
7,Software Technologist II - Data Analyst,(WFH during Covid),Philips India Limited,6-11 Yrs
8,Hiring For Data Analyst - Payment System Intel...,Bangalore/Bengaluru,Genpact,4-9 Yrs
9,Senior Data Analyst,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Kwalee ltd.,5-10 Yrs

## Q2

In [222]:
driver.get('https://www.naukri.com/')

In [223]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

<ipython-input-223-c34abcdd39f9>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-223-c34abcdd39f9>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_id('qsb-location-sugg')

In [224]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-224-8db898a03ada>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [225]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)

In [226]:
job_title=[]
job_loc=[]
comp_name=[]

In [227]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    i=i.text
    job_title.append(i)
job_title=job_title[:10]

<ipython-input-227-54745a0381a4>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [228]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loc_tags:
    i=i.text
    job_loc.append(i)
job_loc=job_loc[:10]

<ipython-input-228-6aa3a0200a0e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [229]:
comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp_tags:
    i=i.text
    comp_name.append(i)
comp_name=comp_name[:10]

<ipython-input-229-a65c0f03660c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [230]:
jobs=pd.DataFrame({})
jobs['job_Title']=job_title
jobs['location']=job_loc
jobs['Company']=comp_name
jobs

,job_Title,location,Company
0,Senior Data Scientist,Bangalore/Bengaluru,Kwalee India Pvt Ltd.
1,Data Scientist /Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Dun & Bradstreet
2,Data Scientist,(WFH during Covid),Visa
3,Lead Data Scientist,Bangalore/Bengaluru,Team4Progress
4,Lead Data Scientist,"Mumbai, Pune, Bangalore/Bengaluru",TransOrg Solutions Services (P) Ltd.
5,Senior Data Scientist / Tech Lead - SQL / Pyth...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Exploro Solutions
6,Senior / Lead Data Scientist,(WFH during Covid),CoreEdge Solutions
7,Forecasting Analyst/ Data Scientist (US Client),"Pune, Chennai, Bangalore/Bengaluru",Concentrix Daksh Services
8,"Data Scientist, Agribusiness Intelligence","Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",IHS Markit
9,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Kwalee India Pvt Ltd.

## Q3

In [231]:
driver.get('https://www.naukri.com/')

In [232]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-232-231d53600241>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-232-231d53600241>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [233]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist"
driver.get(url)

In [234]:
locn_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
locn_filter.click()

<ipython-input-234-a0c48ac8d917>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  locn_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")

In [235]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508"
driver.get(url)

In [237]:
sal_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
sal_filter.click()

<ipython-input-237-c21d172cd1ef>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sal_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")

In [238]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6"
driver.get(url)

In [239]:
job_title=[]
job_loc=[]
comp_name=[]
exp_req=[]

In [240]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    i=i.text
    job_title.append(i)
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loc_tags:
    i=i.text
    job_loc.append(i)
comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp_tags:
    i=i.text
    comp_name.append(i)
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in exp_tags:
    i=i.text
    exp_req.append(i)

<ipython-input-240-82cd6422eae8>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
<ipython-input-240-82cd6422eae8>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
<ipython-input-240-82cd6422eae8>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
<ipython-input-240-82cd6422eae8>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [241]:
job_title=job_title[:10]
job_loc=job_loc[:10]
comp_name=comp_name[:10]
exp_req=exp_req[:10]

In [242]:
jobs=pd.DataFrame({})
jobs['job_Title']=job_title
jobs['location']=job_loc
jobs['Company']=comp_name
jobs['experience']=exp_req

In [243]:
jobs

,job_Title,location,Company,experience
0,Data Scientist,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Think i,0-2 Yrs
1,Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",ThinkBumblebee Analytics Pvt. Ltd.,2-6 Yrs
2,Data Scientist III-2,(WFH during Covid),Concentrix Daksh Services,3-8 Yrs
3,Job Opportunity || Data Scientist || HCL Techn...,Gurgaon/Gurugram,HCL Technologies,4-7 Yrs
4,Data Scientist,Delhi / NCR,MoMagic Technologies Pvt. Ltd.,4-6 Yrs
5,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
6,Urgent Hiring || Data Scientist || Delhi,Noida(Sector-126 Noida),Shriram Automall India Limited,2-7 Yrs
7,Data Scientist,Delhi / NCR,SVK Global Solutions Private Limited,6-10 Yrs
8,Data Scientist Internship,Noida,iHackers Inc,0-1 Yrs
9,Data Scientist,New Delhi,Optum Global Solutions (India) Private Limited,2-6 Yrs

## Q4

In [244]:
driver.get('https://www.flipkart.com/')

In [245]:
search=driver.find_element_by_xpath('//input[@name="q"]')
search.send_keys("sunglasses")

<ipython-input-245-e7f0959cf479>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//input[@name="q"]')

In [246]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

<ipython-input-246-0379011552f6>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [247]:
bran=[]
prod_desc=[]
price=[]

In [248]:
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [249]:
bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in bran_tags:
    i=i.text
    bran.append(i)
prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in prod_desc_tags:
    i=i.text
    prod_desc.append(i)
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tags:
    i=i.text
    price.append(i)

search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
search_btn.click()
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2"
driver.get(url)
bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in bran_tags:
    i=i.text
    bran.append(i)
prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in prod_desc_tags:
    i=i.text
    prod_desc.append(i)
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tags:
    i=i.text
    price.append(i)
    
search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
search_btn.click()
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3"
driver.get(url)
bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in bran_tags:
    i=i.text
    bran.append(i)
prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in prod_desc_tags:
    i=i.text
    prod_desc.append(i)
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tags:
    i=i.text
    price.append(i)

<ipython-input-249-a64848e4db77>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-249-a64848e4db77>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-249-a64848e4db77>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-249-a64848e4db77>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-249-a64848e4db77>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-249-a64848e4db77>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-249-a64848e4db77>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-249-a64848e4db77>:31: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-249-a64848e4db77>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-249-a64848e4db77>:39: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-249-a64848e4db77>:43: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [250]:
bran=bran[:100]
prod_desc=prod_desc[:100]
price=price[:100]

In [251]:
prod=pd.DataFrame({})
prod['Brand']=bran
prod['Product Desc']=prod_desc
prod['Price']=price

In [252]:
prod.head()

            Brand                                       Product Desc Price
0  ROZZETTA CRAFT  UV Protection, Riding Glasses Rectangular Sung...  ₹426
1       ROYAL SON  UV Protection, Gradient Butterfly Sunglasses (60)  ₹664
2            SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
3        Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹513
4       Elligator                UV Protection Round Sunglasses (54)  ₹248

## Q5

In [253]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC')

In [254]:
search_btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
search_btn.click()

<ipython-input-254-915b12a87b09>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")

In [255]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [256]:
rating=[]
rewsum=[]
fullrew=[]

In [257]:
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating_tags:
    i=i.text
    rating.append(i)
rewsum_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in rewsum_tags:
    i=i.text
    rewsum.append(i)
fullrew_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in fullrew_tags:
    i=i.text
    fullrew.append(i)

<ipython-input-257-8b44f20a2c1a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-257-8b44f20a2c1a>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rewsum_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-257-8b44f20a2c1a>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  fullrew_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [258]:
for i in range(9):
    search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    search_btn.click()
    link_tag=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    link=link_tag.get_attribute('href')
    driver.get(link)
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tags:
        i=i.text
        rating.append(i)
    rewsum_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in rewsum_tags:
        i=i.text
        rewsum.append(i)
    fullrew_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in fullrew_tags:
        i=i.text
        fullrew.append(i)

<ipython-input-258-4248d8b06c3a>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-258-4248d8b06c3a>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link_tag=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-258-4248d8b06c3a>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-258-4248d8b06c3a>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rewsum_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
<ipython-input-258-4248d8b06c3a>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  fullrew_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [259]:
reviews=pd.DataFrame({})
reviews['Ratings']=rating
reviews['Review Summary']=rewsum
reviews['Full Review']=fullrew

In [260]:
reviews.head()

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...

## Q6

In [261]:
driver.get('https://www.flipkart.com/')

In [262]:
search=driver.find_element_by_xpath('//input[@name="q"]')
search.send_keys("sneakers")
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

<ipython-input-262-c3595ba0d089>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//input[@name="q"]')
<ipython-input-262-c3595ba0d089>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [263]:
bran=[]
prod_desc=[]
price=[]

In [264]:
url="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off"
driver.get(url)

In [265]:
bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in bran_tags:
    i=i.text
    bran.append(i)
prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in prod_desc_tags:
    i=i.text
    prod_desc.append(i)
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tags:
    i=i.text
    price.append(i)
for i in range(3):
    search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    search_btn.click()
    link_tag=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
    link=link_tag.get_attribute('href')
    driver.get(link)
    bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in bran_tags:
        i=i.text
        bran.append(i)
    prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in prod_desc_tags:
        i=i.text
        prod_desc.append(i)
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tags:
        i=i.text
        price.append(i)

<ipython-input-265-46f4d5c9f8a0>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-265-46f4d5c9f8a0>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-265-46f4d5c9f8a0>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-265-46f4d5c9f8a0>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-265-46f4d5c9f8a0>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link_tag=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-265-46f4d5c9f8a0>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bran_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-265-46f4d5c9f8a0>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_desc_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-265-46f4d5c9f8a0>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [266]:
bran=bran[:100]
prod_desc=prod_desc[:100]
price=price[:100]

In [267]:
prod=pd.DataFrame({})
prod['Brand']=bran
prod['Product Desc']=prod_desc
prod['Price']=price

In [268]:
prod.head()

      Brand                                  Product Desc   Price
0      PUMA               X-Ray 2 Square Sneakers For Men  ₹6,999
1      PUMA        Puma Smash v2 SL one8 Sneakers For Men  ₹3,119
2  FOOTGRAB  White Boots || High Tops || Sneakers For Men    ₹549
3   Numenzo                              Sneakers For Men    ₹479
4  Magnolia                              Sneakers For Men    ₹398

## Q7

In [269]:
driver.get('https://www.myntra.com/shoes')

### Cost between 7149 and 14099

In [270]:
cost_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
cost_filter.click()

<ipython-input-270-b8e768f28798>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cost_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")

In [271]:
url="https://www.myntra.com/shoes?rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0"
driver.get(url)
color_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

<ipython-input-271-fba9e51edaaf>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  color_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

In [272]:
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7149.0_14099.0_7149.0%20TO%2014099.0"
driver.get(url)

In [273]:
bran=[]
prod_desc=[]
price=[]
bran_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in bran_tags:
    i=i.text
    bran.append(i)
prod_desc_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in prod_desc_tags:
    i=i.text
    prod_desc.append(i)
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
for i in price_tags:
    i=i.text
    price.append(i)

<ipython-input-273-c3003a088ca9>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bran_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-273-c3003a088ca9>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_desc_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-273-c3003a088ca9>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")

In [274]:
search_btn=driver.find_element_by_xpath("//a[@rel='next']")
search_btn.click()
link_tag=driver.find_element_by_xpath("//a[@rel='next']")
link=link_tag.get_attribute('href')
driver.get(link)

<ipython-input-274-0ede266629c3>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//a[@rel='next']")
<ipython-input-274-0ede266629c3>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  link_tag=driver.find_element_by_xpath("//a[@rel='next']")

In [275]:
bran_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in bran_tags:
    i=i.text
    bran.append(i)
prod_desc_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in prod_desc_tags:
    i=i.text
    prod_desc.append(i)
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
for i in price_tags:
    i=i.text
    price.append(i)

<ipython-input-275-60a488f6acd3>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  bran_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
<ipython-input-275-60a488f6acd3>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_desc_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
<ipython-input-275-60a488f6acd3>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")

In [276]:
prod=pd.DataFrame({})
prod['Brand']=bran
prod['Product Desc']=prod_desc
prod['Price']=price

In [277]:
prod.head()

  Brand                    Product Desc                        Price
0  Nike  LEBRON WITNESS Basketball Shoe    Rs. 7465Rs. 8295(10% OFF)
1  Nike  AIR ZOOM PEGASUS Running Shoes    Rs. 8995Rs. 9995(10% OFF)
2  Nike  Air Zoom Pegasus 38 Shield Run  Rs. 10345Rs. 11495(10% OFF)
3  Nike   Men Zoom Span 4 Running Shoes                     Rs. 7195
4  Puma   Men Jamming 2.0 Running Shoes  Rs. 10399Rs. 12999(20% OFF)

## Q8

In [278]:
driver.get('https://www.amazon.in/')

In [279]:
search=driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search.send_keys("Laptop")
search_btn=driver.find_element_by_xpath("//span[@class='nav-search-submit-text nav-sprite nav-progressive-attribute']")
search_btn.click()

<ipython-input-279-d0b07ba3002f>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
<ipython-input-279-d0b07ba3002f>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//span[@class='nav-search-submit-text nav-sprite nav-progressive-attribute']")

In [280]:
url="https://www.amazon.in/s?k=Laptop&ref=nb_sb_noss"
driver.get(url)

## i7 filters and i5 filters

In [182]:
proci7_fil = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[2]/li[11]/span/a/div/label/i")
proci7_fil.click()

<ipython-input-182-c3aeed6cb9d1>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  proci7_fil = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[2]/li[11]/span/a/div/label/i")

In [183]:
url="https://www.amazon.in/s?k=Laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1636614674&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_11"
driver.get(url)
proci5_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[2]/li[2]/span/a/div/label/i")
proci5_filter.click()

<ipython-input-183-972d0aa2d9a1>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  proci5_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[2]/li[2]/span/a/div/label/i")

In [184]:
url="https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598162031%7C12598163031&dc&qid=1636614930&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_1"
driver.get(url)

In [204]:
title=[]
rati=[]
price=[]
title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tags:
    i=i.text
    title.append(i)
rating_tags=driver.find_elements_by_xpath("//span[@class='a-size-base']")
for i in rating_tags:
    i=i.text
    rating.append(i)
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tags:
    i=i.text
    price.append(i)

<ipython-input-204-914d137a477d>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
<ipython-input-204-914d137a477d>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags=driver.find_elements_by_xpath("//span[@class='a-size-base']")
<ipython-input-204-914d137a477d>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [205]:
title=title[:10]
rating=rating[:10]
price=price[:10]

In [206]:
prod=pd.DataFrame({})
prod['Titles']=title
prod['Global Ratings']=rating
prod['Price']=price
prod

                                              Titles Global Ratings     Price
0  LG Gram 17 Ultra-Light Intel Evo 11th Gen Core...             33  1,06,057
1  LG Gram 14 Ultra-Light Intel Evo 11th Gen Core...             96    74,999
2  HP 14 11th Gen Intel Core i5 Processor 14 inch...            663    56,490
3  Lenovo V14 Intel Core i5 11th Gen 14" (35.56cm...              3    48,990
4  (Renewed) Dell Latitude Intel 4th Gen Core i5 ...              2    24,990
5  (Renewed) Dell Latitude (2nd Gen Core i5/4GB R...              1    26,999
6  HP 15 11th Gen Intel Core i5 Processor 39.62 c...            180    55,990
7  HP Pavilion (2021) Intel 11th Gen Core i5 14 i...          1,263    66,990
8  HP Pavilion Gaming 10th Gen Intel Core i5 15.6...            162    69,990
9  Lenovo IdeaPad Slim 5 11th Gen Intel Core i5 1...            125    66,990

## Q9

In [25]:
driver.get('https://www.ambitionbox.com/')

In [26]:
search_btn=driver.find_element_by_xpath("//a[@class='link jobs']")
search_btn.click()

<ipython-input-26-1457f48acfe8>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//a[@class='link jobs']")

In [27]:
url="https://www.ambitionbox.com/jobs"
driver.get(url)

In [28]:
search=driver.find_element_by_xpath('//input[@class="input tt-input"]')
search.send_keys("Data Scientist")

<ipython-input-28-4a947d3b9900>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//input[@class="input tt-input"]')

In [29]:
search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

<ipython-input-29-198e795d2968>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

In [30]:
url="https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist"
driver.get(url)

In [33]:
search_btn=driver.find_element_by_xpath("//div[@title='Location']")
search_btn.click()

<ipython-input-33-24734fd1a325>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@title='Location']")

In [34]:
search=driver.find_element_by_xpath("//input[@placeholder='Search locations']")
search.send_keys("Noida")

<ipython-input-34-f55384b1ee2f>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath("//input[@placeholder='Search locations']")

In [35]:
search_btn=driver.find_element_by_xpath("//input[@data='Noida']")
search_btn.click()

<ipython-input-35-f3717b190811>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//input[@data='Noida']")

In [36]:
url="https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist&location=Noida"
driver.get(url)

In [68]:
desig=[]
comp=[]
skills=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title noclick']")
for i in title_tags:
    i=i.text
    desig.append(i)
comp_tags=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in comp_tags:
    i=i.text
    comp.append(i)
skills_tags=driver.find_elements_by_xpath("//div[@class='entity']")
for i in skills_tags:
    i=i.text
    skills.append(i)

<ipython-input-68-10b291e17ce9>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title noclick']")
<ipython-input-68-10b291e17ce9>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_tags=driver.find_elements_by_xpath("//div[@class='company-info']")
<ipython-input-68-10b291e17ce9>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  skills_tags=driver.find_elements_by_xpath("//div[@class='entity']")

In [69]:
desig=desig[:10]
comp=comp[:10]
skills1=skills[4:-9:3]
skills2=skills[-8:-3:2]
skills3=skills[-1]
skills4=skills1+skills2
skills4.append(skills[-1])

In [70]:
job=pd.DataFrame({})
job['Designation']=desig
job['Company']=comp
job['Skills']=skills4

In [71]:
job

,Designation,Company,Skills
0,Data Scientist,Optum Global Solutions (India) Private Limited...,"Python, Machine Learning, Random Forest +9 more"
1,Group Lead-Data Scientist,Optum Global Solutions (India) Private Limited...,"Technical support, Networking, SAS +7 more"
2,Data Scientist,Ameriprise Financial\n4.1\n(250 Reviews),"Random Forest, Python, R +4 more"
3,Urgent Vacancy || Data Scientist || Noida,Optum Global Solutions (India) Private Limited...,"Teradata SQL, Python, Hadoop +1 more"
4,Urgent Requirement || Data Scientist || Noida,Steria India Ltd\n4.1\n(829 Reviews),"Pyspark, Python, Jupyter +7 more"
5,Senior Data Scientist,Steria India Ltd\n4.1\n(829 Reviews),"Python, Pyspark, Deep Learning +12 more"
6,Data Scientist - Machine Learning (5-14 yrs),HCL Technologies Limited\n3.8\n(13.2k Reviews),"Data Scientist, Data Management, PhD +6 more"
7,Data Scientist - Consulting Firm (8-15 yrs),Zyoin\n4.2\n(61 Reviews),"Data Science, Data Scientist, Data Management ..."
8,Manager - Data Scientist - Retail/BFSI (8-15 yrs),GI Group\n3.9\n(68 Reviews),"Data Analytics, Data Scientist, Data Visualiza..."
9,Data Scientist: Artificial Intelligence,GI Group\n3.9\n(68 Reviews),"SQL, Automation, Python +7 more"

## Q10

In [154]:
driver.get('https://www.ambitionbox.com/')

In [155]:
search_btn=driver.find_element_by_xpath("//a[@class='link salaries']")
search_btn.click()

<ipython-input-155-c02affcf4a1e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//a[@class='link salaries']")

In [156]:
url="https://www.ambitionbox.com/salaries"
driver.get(url)

In [157]:
search=driver.find_element_by_xpath('//input[@class="component-input tt-input"]')
search.send_keys("Data Scientist")

<ipython-input-157-2bea11b159bb>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search=driver.find_element_by_xpath('//input[@class="component-input tt-input"]')

In [158]:
search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div/div/div/div[1]/span/div/div[2]/div[2]/div[2]/div/p")
search_btn.click()
search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round component-search-btn']")
search_btn.click()

<ipython-input-158-481bfaf27ef6>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div/div/div/div[1]/span/div/div[2]/div[2]/div[2]/div/p")
<ipython-input-158-481bfaf27ef6>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round component-search-btn']")

In [171]:
comp=[]
totsal=[]
avgsal=[]
minsal=[]
maxsal=[]
expreq=[]
sal=[]
comp_tags=driver.find_elements_by_xpath("//div[@class='name']/a")
for i in comp_tags:
    i=i.text
    comp.append(i)
totsal_tags=driver.find_elements_by_xpath("//div[@class='name']/span")
for i in totsal_tags:
    i=i.text
    totsal.append(i)
avgsal_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avgsal_tags:
    i=i.text
    avgsal.append(i)
avgsal=avgsal[9:]
minsal_tags=driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in minsal_tags:
    i=i.text
    sal.append(i)
sal=sal[9:]
expreq_tags=driver.find_elements_by_xpath("//div[@class='salaries one-line sbold-list-header']")
for i in expreq_tags:
    i=i.text
    expreq.append(i)

<ipython-input-171-b7658ff8f012>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_tags=driver.find_elements_by_xpath("//div[@class='name']/a")
<ipython-input-171-b7658ff8f012>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  totsal_tags=driver.find_elements_by_xpath("//div[@class='name']/span")
<ipython-input-171-b7658ff8f012>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avgsal_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
<ipython-input-171-b7658ff8f012>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  minsal_tags=driver.find_elements_by_xpath("//div[@class='salary-values']")
<ipython-input-171-b7658ff8f012>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  expreq_tags=driver.find_elements_by_xpath("//div[@class='salaries one-line sbold-list-header']")

In [172]:
for i in sal:
    k=i.split("\n")
    minsal.append(k[0])
    maxsal.append(k[1])

In [173]:
job=pd.DataFrame({})
job['Company']=comp
job['Total Salary Record']=totsal
job['Avg Salary']=avgsal
job['Min Salary']=minsal
job['Max Salary']=maxsal
job['Exp Required']=expreq

In [174]:
job

,Company,Total Salary Record,Avg Salary,Min Salary,Max Salary,Exp Required
0,TCS,(583 Salaries),₹ 7.3L,₹ 4.4L,₹ 15.0L,2-9 yrs exp
1,Accenture,(353 Salaries),₹ 11.7L,₹ 5.4L,₹ 22.0L,2-9 yrs exp
2,IBM,(284 Salaries),₹ 11.6L,₹ 5.0L,₹ 22.5L,2-12 yrs exp
3,Cognizant,(227 Salaries),₹ 9.4L,₹ 4.8L,₹ 17.0L,2-11 yrs exp
4,Capgemini,(214 Salaries),₹ 8.2L,₹ 4.6L,₹ 14.3L,2-8 yrs exp
5,Tech Mahindra,(181 Salaries),₹ 7.8L,₹ 4.2L,₹ 16.4L,2-13 yrs exp
6,Infosys,(163 Salaries),₹ 8.7L,₹ 4.5L,₹ 25.0L,2-8 yrs exp
7,Wipro,(157 Salaries),₹ 9.0L,₹ 4.3L,₹ 17.0L,2-9 yrs exp
8,Ericsson,(122 Salaries),₹ 12.9L,₹ 5.0L,₹ 25.0L,2-12 yrs exp
9,HCL Technologies,(116 Salaries),₹ 9.0L,₹ 4.5L,₹ 19.0L,2-10 yrs exp